body {
    background: linear-gradient(to bottom left, #b0d0fa, #fefffe, #bfc3fc);
    font-family: 'Poppins', sans-serif;
    color: #5a5a5a;
}

/* Loader */

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-logo {
    max-width: 100%;
    max-height: 100%;
}



/* ----------- */

#main-container {
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo para los botones */
.custom-btn {
    display: block;
    width: 80%;
    margin: 0 auto 10px;
    border-radius: 20px;
    background-color: #fefffe;
    color: #828594;
    border: none;
    box-shadow: 0 4px 8px #d4dcef;
}

.custom-btn:hover {
    background-color: #bfc3fc;
}

#tablaModal .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.btn-color {
    background-color: #73b5e9;
    color: #fff;
    box-shadow: 0 4px 8px #bfc3fc;
}

/* Estilos para redondear las esquinas de los inputs y textarea */
.form-control,
textarea,
.btn {
    border-radius: 15px;
}

/* Estilos adicionales si lo necesitas */
#comprasForm {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 20px;

}

@media screen and (max-width: 768px) {
    .table {
        font-size: 12px;
    }
}